ul.AltDownloader
  position: fixed
  top: 48px
  left: 10%
  width: 80%
  background-color: #fff
  color: #000
  border: 1px solid #000
  padding: 32px
  z-index: 9999
  list-style: none
  li
    margin-top: 8px
    margin-bottom: 8px
    .img
      display: inline-block
      width: 64px
      text-align: center
    img
      display: inline-block
      vertical-align: middle
      max-width: 64px
      max-height: 64px
      margin-right: 16px
